
img {
    margin: 30px;
}

#Standing {
    transition: transform 1s ease;
}

#Standing:hover {
    transform: scale(2) translate(10px, 40px);
}

#Skateboarding {
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}


@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}